<h2>New Post</h2>

<% if flash[:error] %>
<strong><%= flash[:error] %></strong>
<% end %>

<%= form_with model: @post do |form| %>
	<p><%= form.label :title, "Title" %><br>
	<%= form.text_field :title, size: 31, placeholder: "Write an apt title" %></p>
	<p><%= form.label :body, "Body" %><br>
	<%= form.text_area :body, size: "40x20" %></p>
	<p><%= form.submit :Submit %></p>
<% end %>