<h2>New Post</h2>

<%= form_with model: @post,url: "/posts", scope: :post do |form| %>
	<p><%= form.label :title, "Title" %><br>
	<%= form.text_field :title, size: 31, placeholder: "Write an apt title" %></p>
	<p><%= form.label :body, "Body" %><br>
	<%= text_area(:post, :body, cols: 40, rows: 20, placeholder: "Write your post here") %></p>
	<p><%= form.submit :Submit %></p>
<% end %>